{% load static %}

<!doctype html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>EasyMedi</title>

    <link rel="stylesheet" href="{% static 'dashboard-assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard-assets/bundles/bootstrap-social/bootstrap-social.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'dashboard-assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard-assets/css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'dashboard-assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'dashboard-assets/img/favicon.ico' %}"/>
 
   



    
</head>


<body>

    
	
         
           
 


{% block content%}

{% endblock %}

  <!-- General JS Scripts -->
  <script src="{% static 'dashboard-assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'dashboard-assets/js/scripts.js'  %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'dashboard-assets/js/custom.js'  %}"></script>


</body>
</html>


